extends layout

block css
    link(rel='stylesheet', href='/libs/Qill/quill.snow.css')

block js
    script(type='text/javascript', src='/libs/Qill/quill.min.js')
    script(type="text/javascript").

      Quill.prototype.getHtml = function() {
          return this.container.firstChild.innerHTML;
      };
        var container = document.getElementById('editor');
        var quill = new Quill(container, {
          theme: 'snow'
        });

        var form = document.querySelector('form');
        form.onsubmit = function(e) {
          e.preventDefault();
          e.stopPropagation();

          // Populate hidden form on submit
          var about = document.querySelector(".texto");
          about.value = quill.getHtml();
          form.submit();
        };

block content
  h1 Novo Email
  form(method="post", action="/sendmail/enviar")

      div.formItem
          label Destinatarios
          input(name="email.destinatarios", type="email", placeholder="seu.email@g.com, outro.email@g.com...", class="w-33 wm-75 wxs-100", autocomplete="off", required="required")
      
      div.formItem
          label Assunto
          input(name="email.assunto", type="text", class="w-33 wm-75 wxs-100", autocomplete="off", required="required")

      div.formItem
          label Mensagem
          div.w-75.wm-100
              div(id="editor", style="min-height: 300px;", for="#editor")

      input(type="hidden", name="email.texto", class="texto")

      div.w-75.wm-100
          button(type="submit", class="btn-save f-right") Enviar
