extends layout

block content

  h1= title
  
  p Quantidade de emails: #[a(href="/listaDeEmails") #{qtdEmails} emails enviados]
  p Quantidade de contatos: #{qtdContatos}

  a(href="/novoEmail") Novo Email
  br
  a(href="/sendmail") Testar Email

  script(type="text/javascript").
      idActive = 'home'