doctype html
html
  head
    title= title
    meta(charset="utf-8")
    block css
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/response.css')

  body

      menu
        ul
          li#home
            a(href="/") Inicio
          li#listaEmail
            a(href="/listaDeEmails") Lista de emails
          li#novoEmail
            a(href="/novoEmail") Novo Email

      div.main
          block content
          block js
          script(type="text/javascript").
              var elToActive = document.getElementById(idActive || "");
              if(elToActive){
                  elToActive.className += " active";
              }